.call-to-action {
    background-image: url('./../images/footer.svg');
    height: 780px;
}


.devshop-button {
    width: 302.6px;
    height: 67.3px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffb300;
    border: 1px solid transparent;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    border-radius: 50px;
}
.devshop-button:hover {
    background-color: #ffc233;
}

.showcase {
    margin-top: 100px;
    max-width: 95%;
}
.showcase-card {
    padding: 15px;
}
.showcase-row {
    margin-top: 40px;
}
@media (min-width: 768px) {
    .showcase {
        margin-top: 300px;
    }
    .showcase-card {
        padding: 50px 100px
    }
}

.aligner, .below {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.aligner {
    height: 100%;
}
.aligner::before { content: ''; }
.aligner::before, .below {
    flex: 1;
}